/* CSS reset to create a more consistent look across different browsers */
 header h1 {
    font-family: Georgie, serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}
main h2, aside h2, footer h2
 {
  font-weight: bold
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
body {
    font-family: Arial, sans-serif; /* Use a basic, widely-supported font */
    line-height: 1.6; /* A basic line-height for readability */
    color: #333; /* A basic text color that's not too harsh */
    background-color: #fff; /* A basic background color */
}

/* Add your custom CSS below this line */
#quantity-of-cheese {
  width: 30px;
}

#quantity-of-pepperoni {
   width: 30px;
}

#quantity-of-veggie {
  width: 30px;
}
